// Specific CSS for your home-page
.home-page-container {
    max-width: 100%;
    margin: 0;
    font-family: "Work Sans", "Helvetica", "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0E0000;
    text-align: left;
    background-color: #F4F4F4;
}

.banner {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.2)),url(https://res.cloudinary.com/drirexwsz/image/upload/v1644072856/f42bce09-2533-48fb-a9c4-8053aedf941b-798c36769d88.small_dr0usb.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration-color: white;
}

.title-font {
  color: white;
  font-size: xx-large;
}

.lessons-cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.3s;
}

.featured-lessons {
    display: flex;
    margin-top: 90px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.featured-lessons img {
    width: 400px;
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform 0.6s ease;
    border-radius: 5px;
    z-index: -1;
}

.highlighted-lessons {
    margin-bottom: 40px;
    border-bottom: 4px solid #E7E7EA;
    padding-bottom: 24px;
}

.fi-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.fi-text {
    margin-top: -190px;
    z-index: 3;
    position: relative;
    background: linear-gradient(
180deg
, rgba(255,255,255,0) 0%, rgba(0,0,0,0.790354) 87%);
    color: white;
    width: 408px;
    padding-bottom: 60px;
    padding-top: 80px;
    border-radius: 5px;
}

.fi-image img:hover {
    // box-shadow: 0 0px 55px rgb(0 0 0 / 40%);
    transform: translate(0px, -20px) scale(1.03);
    z-index: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

#form-search-home {
    color: white;
    border: 3px solid white;
    outline: none;
}

.form-search {
  padding: 6px 102px 6px 8px;
  background-color: transparent;
  font-style: italic;
  font-family: "Libre Franklin", "sans-serif";
  letter-spacing: 2px;
  margin-right: -6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-search-home {
    color: #121730;
    border: 3px solid white;
    background-color: white;
    padding: 6px 9px;
    font-style: italic;
    font-family: "Libre Franklin", "sans-serif";
    letter-spacing: 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s ease;
}
