/* Page Container */
#booking-container {
  display: flex;
  padding-right: 0px;
  margin-right: 0px;
  margin-top: 60px;
  justify-content: space-around;
  margin: 60px 150px;
}

.info-container {
  padding: 16px;
}

.booking-form {
  padding: 16 px;
}

/* Info */
.info-container h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #333333;
  margin: 20px 0px;
}

.lesson-booking h2{
  font-family: 'Roboto', sans-serif;
  // font-weight: bold;
  font-size: 32px;
  color: #333333;
  margin: 20px 0px;
}

.info-container p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333;
}

span.booking-level {
  font-family: 'Roboto', sans-serif;
  font-size: small;
  color: #2B7CF6;
  background-color: #EAF2FE;
  border-radius: 25px;
  border: 2px solid #2B7CF6;
  padding: 4px 16px;
}
