<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drirexwsz/image/upload/v1644072856/f42bce09-2533-48fb-a9c4-8053aedf941b-798c36769d88.small_dr0usb.png);">
  <div class="container">
    <div class="banner-content">
      <h1>Bookable</h1>
      <p>Change your life by learning a new skill!</p>
      <%= link_to "Book your lesson now", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>




  <div class="featured-lessons">
    <div class="highlighted-lessons">
      <h2>Our Featured Lessons</h2>
    </div>
    <div class="lessons-cards">
      <div class="fi-card">
        <div class="fi-image">
              <a href="/lessons/7"><img src="https://res.cloudinary.com/drirexwsz/image/upload/v1644071258/stand-up-comedy-neon-sign_fz0onc.jpg">
              </a>
        </div>
        <div class="fi-text">
          <h2 class="fi-text-js text-center">Stand-up Comedy</h2>
        </div>
      </div>
      <div class="fi-card">
        <div class="fi-image">
              <a href="/lessons/9"><img src="https://res.cloudinary.com/drirexwsz/image/upload/v1644071520/Gian_6_oon9s8.jpg"></a>
        </div>
        <div class="fi-text">
          <h2 class="fi-text-js text-center">Book Restoration</h2>
        </div>
      </div>
      <div class="fi-card">
        <div class="fi-image">
              <a href="/lessons/10"><img src="https://res.cloudinary.com/drirexwsz/image/upload/v1644071201/acastro_190618_1777_cloud_gaming_0003.0_xcfq9w.jpg"></a>
        </div>
        <div class="fi-text">
          <h2 class="fi-text-js text-center">Gaming</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<%#
<div>
  <p>Description of Bookable app</p>
</div> %>

<% if user_signed_in? %>
  <% current_user.email %>
<% end %>

<%# <div class="navbar navbar-expand-sm navbar-light navbar-bookable">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <%# <% end %>


<%# <div class="main-content">
      <div class="home-page-container">
  <div class="banner">
    <div class="banner-content">
      <div>
        <h1>TROPIC LIKE IT'S HOT</h1>
      </div>
        <div id="typed-strings" class="typed-color" style="display: none;">
          <p>RENT A HOUSE...?</p>
          <p>RENT A VILLA...?</p>
          <p>RENT AN <span style="text-decoration: underline">ISLAND</span></p>
        </div>
      <span id="typed">RENT AN <span style="text-decoration: underline">ISLAND</span></span><span class="typed-cursor">|</span><span class="typed-cursor">|</span>
      <div class="search-bar">
        <form action="/islands" accept-charset="UTF-8" method="get">
          <input type="text" name="query" id="form-search-home" class="form_control form-search form-search-colour" placeholder="Search for Islands...">
          <input type="submit" name="commit" value="Search" class="btn-search-home" data-disable-with="Search">
</form>      </div>
    </div>
  </div>

  <div class="featured-islands">
    <div class="fave-islands">
      <h2>OUR FAVOURITE ISLANDS</h2>
    </div>
    <div class="island-cards" data-sr-id="0" style="visibility: visible; opacity: 0;">
      <div class="fi-card">
        <div class="fi-image">
             <a href="/islands/7"><img src="https://res.cloudinary.com/dh6gdchfj/image/upload/viiq0c4nxum23zylcdx81qxarapz"></a>
        </div>
        <div class="fi-text">
          <h2 class="fi-text-js text-center">Bora Bora</h2>
        </div>
      </div>
      <div class="fi-card">
        <div class="fi-image">
             <a href="/islands/9"><img src="https://res.cloudinary.com/dh6gdchfj/image/upload/fmrcenlf7kg6y9mag82gbptlm4yj"></a>
        </div>
        <div class="fi-text">
          <h2 class="fi-text-js text-center">Sicily</h2>
        </div>
      </div>
      <div class="fi-card">
        <div class="fi-image">
             <a href="/islands/10"><img src="https://res.cloudinary.com/dh6gdchfj/image/upload/wl40g0dzu3apsb5y1el73f3p9azi"></a>
        </div>
        <div class="fi-text">
          <h2 class="fi-text-js text-center">Havelock</h2>
        </div>
      </div>
    </div>

  </div>
</div>





    </div> %>
