.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.2)),url(https://res.cloudinary.com/drirexwsz/image/upload/v1644072856/f42bce09-2533-48fb-a9c4-8053aedf941b-798c36769d88.small_dr0usb.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration-color: white;
}

.title-font {
  color: white;
  font-size: xx-large;
}
