.form-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  margin: 50px 0px;
}

.form-inputs {
  font-family: 'Roboto', sans-serif;
}

input[type=submit] {
  width: 100%;
  margin-bottom: 10px;
}
