#content-container{
  display: flex;
}


#map {
  height: 100vh;
  position: sticky;
  top: 0px;
  border-radius: 8px 0px 0px 8px;
}


@media only screen and(min-width: 100px) and (max-width: 499px) {
  #map {
    display: none;
  }
}

@media only screen and(min-width: 500px) {
  #map {
    display: none;
  }
}

@media only screen and(min-width: 1200px) {
  #map {
    display: block;
  }
}
