// .index-map-container {
//   border-radius: 8px;
//   position: fixed;
//   width: 100%;
//   left: 35%;
//   top: 7vh;
//   z-index: 0;
// }

// .col-8 {
//   flex: 0 0 66.66666667%;
//   max-width: 66.66666667%;
// }

#content-container{
  display: flex;
}


#map {
  height: 100vh;
  border-radius: 8px;
}
