.navbar-bookable {
  justify-content: space-between;
  background: white;
}

.navbar-bookable .navbar-collapse {
  flex-grow: 0;
}

.navbar-bookable .navbar-brand img {
  width: 60px;
  size-adjust: 60px;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  left: -100px;
}
