.navbar-bookable {
  justify-self: flex-start;
  background: white;
  border-color: #6E88BD;
  list-style: none;
}

// .sticky {
//   position: sticky;
//   top: 0;
//   z-index: 1020;
// }


.navbar-bookable .navbar-collapse {
  flex-grow: 0;
}

.navbar-bookable .navbar-brand img {
  width: 60px;
  size-adjust: 60px;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  left: -100px;
}
