.navbar-bookable {
  justify-self: flex-start;
  background: white;
  border-color: #6E88BD;
  list-style: none;
}

// .sticky {
//   position: sticky;
//   top: 0;
//   z-index: 1020;
// }


.navbar-bookable .navbar-collapse {
  flex-grow: 0;
}

.navbar-bookable .navbar-brand img {
  width: 60px;
  size-adjust: 60px;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  left: -100px;
}

.search-navbar {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  width: max-content;
  height: fit-content;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.navbar-button {
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 0;
  color: #ffffff;
  background-color: #2B7CF6;
  pointer-events: painted;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}
