// .search-box {
//   width: fit-content;
//   height: fit-content;
//   position: relative;
// }

// .input-search {
//   height: 40px;
//   width: 40px;
//   border-style: none;
//   padding: 10px 30px 10px 10px;
//   font-size: 18px;
//   letter-spacing: 2px;
//   outline: none;
//   border-radius: 25px;
//   transition: all 0.5s ease-in-out;
//   background-color: #2B7CF6;
//   color: #fff;
// }
// .input-search::placeholder {
//   color: #ffffff80;
//   font-size: 18px;
//   letter-spacing: 2px;
//   font-weight: 100;
// }
// .btn-search {
//   width: 40px;
//   height: 40px;
//   border-style: none;
//   font-size: 20px;
//   font-weight: bold;
//   outline: none;
//   cursor: pointer;
//   border-radius: 50%;
//   position: absolute;
//   right: 0;
//   color: #ffffff;
//   background-color: transparent;
//   pointer-events: painted;
// }
// .btn-search:focus ~ .input-search {
//   width: 300px;
//   border-radius: 25px;
//   background-color: #2B7CF6;
//   border-bottom: 1px solid #ffffff80;
//   transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
// }
// .input-search:focus {
//   width: 300px;
//   border-radius: 25px;
//   background-color: #2B7CF6;
//   border-bottom: 1px solid #ffffff80;
//   transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
// }

// /* Still Search */

// .search-bar-box {
//   width: fit-content;
//   height: fit-content;
//   position: relative;
// }
// .input-search-box {
//   height: 40px;
//   width: 400px;
//   border-style: none;
//   padding: 10px 30px 10px 10px;
//   font-size: 18px;
//   letter-spacing: 2px;
//   outline: none;
//   border-radius: 25px;
//   background-color: white;
//   border: 2px solid #2B7CF6;
//   color: #2B7CF6;
// }

// .input-search-box::placeholder {
//   color: #2B7CF6;
//   font-size: 18px;
//   letter-spacing: 2px;
//   font-weight: 100;
// }

// .btn-search-long {
//   width: 40px;
//   height: 40px;
//   border-style: none;
//   font-size: 20px;
//   font-weight: bold;
//   outline: none;
//   cursor: pointer;
//   border-radius: 0% 50% 50% 0%;
//   position: absolute;
//   right: 0;
//   color: #ffffff;
//   background-color: #2B7CF6;
//   pointer-events: painted;
// }
