.show-banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.show-banner-content {
  text-align: center;
}

.show-banner-content h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
}
